body {
    background-image: linear-gradient(
      210deg,
      rgb(73, 192, 240) 1%,
      rgb(67, 185, 231) 6%,
      rgb(62, 172, 216) 11%,
      rgb(50, 147, 185) 15%,
      rgb(41, 135, 172) 22%,
      rgb(33, 118, 151) 28%,
      rgb(23, 88, 114) 35%,
      rgb(17, 68, 88) 42%,
      rgb(13, 54, 70) 51%,
      rgb(8, 38, 51) 59%,
      rgb(6, 23, 31) 64%,
      rgb(4, 15, 20) 75%
    ) !important;
  }

  ui.inverted.top.fixed.menu {
    background-image: linear-gradient(
      30deg,
      rgb(73, 192, 240) 1%,
      rgb(67, 185, 231) 6%,
      rgb(62, 172, 216) 11%,
      rgb(50, 147, 185) 15%,
      rgb(41, 135, 172) 22%,
      rgb(33, 118, 151) 28%,
      rgb(23, 88, 114) 35%,
      rgb(17, 68, 88) 42%,
      rgb(13, 54, 70) 51%,
      rgb(8, 38, 51) 59%,
      rgb(6, 23, 31) 64%,
      rgb(4, 15, 20) 75%
    ) !important;
  }
  
  .ui.stackable.top.fixed.menu {
    background-image: linear-gradient(
      210deg,
      rgb(73, 192, 240) 1%,
      rgb(67, 185, 231) 6%,
      rgb(62, 172, 216) 11%,
      rgb(50, 147, 185) 15%,
      rgb(41, 135, 172) 22%,
      rgb(33, 118, 151) 28%,
      rgb(23, 88, 114) 35%,
      rgb(17, 68, 88) 42%,
      rgb(13, 54, 70) 51%,
      rgb(8, 38, 51) 59%,
      rgb(6, 23, 31) 64%,
      rgb(4, 15, 20) 75%
    ) !important;
  }
  
  /*home page styles*/
  
  .masthead {
    display: flex;
    align-items: center;
    background-image: linear-gradient(
      210deg,
      rgb(73, 192, 240) 1%,
      rgb(67, 185, 231) 6%,
      rgb(62, 172, 216) 11%,
      rgb(50, 147, 185) 15%,
      rgb(41, 135, 172) 22%,
      rgb(33, 118, 151) 28%,
      rgb(23, 88, 114) 35%,
      rgb(17, 68, 88) 42%,
      rgb(13, 54, 70) 51%,
      rgb(8, 38, 51) 59%,
      rgb(6, 23, 31) 64%,
      rgb(4, 15, 20) 75%
    ) !important;
    height: 100vh;
  }
  
  .masthead .ui.menu .ui.button,
  .ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
  }
  
  .masthead h1.ui.header {
    font-size: 4em;
    font-weight: normal;
  }
  
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }
  
  /*end home page styles*/
  body {
    background-color: rgb(234, 234, 234) !important;
  }
  
  .ui.stackable.top.fixed.menu {
    background-image: linear-gradient(
      210deg,
      rgb(73, 192, 240) 1%,
      rgb(67, 185, 231) 6%,
      rgb(62, 172, 216) 11%,
      rgb(50, 147, 185) 15%,
      rgb(41, 135, 172) 22%,
      rgb(33, 118, 151) 28%,
      rgb(23, 88, 114) 35%,
      rgb(17, 68, 88) 42%,
      rgb(13, 54, 70) 51%,
      rgb(8, 38, 51) 59%,
      rgb(6, 23, 31) 64%,
      rgb(4, 15, 20) 75%
    ) !important;
  }
  
  /*home page styles*/
  
  .masthead {
    display: flex;
    align-items: center;
    background-image: linear-gradient(
      210deg,
      rgb(73, 192, 240) 1%,
      rgb(67, 185, 231) 6%,
      rgb(62, 172, 216) 11%,
      rgb(50, 147, 185) 15%,
      rgb(41, 135, 172) 22%,
      rgb(33, 118, 151) 28%,
      rgb(23, 88, 114) 35%,
      rgb(17, 68, 88) 42%,
      rgb(13, 54, 70) 51%,
      rgb(8, 38, 51) 59%,
      rgb(6, 23, 31) 64%,
      rgb(4, 15, 20) 75%
    ) !important;
    height: 100vh;
  }
  
  .masthead .ui.menu .ui.button,
  .ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
  }
  
  .masthead h1.ui.header {
    font-size: 4em;
    font-weight: normal;
  }
  
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }
  
  /*end home page styles*/

  .pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    justify-content: center;
  }
  .pagination > .active > a {
    background-color: #ff9980;
    border-color: #ff471a;
    color: #fff;
  }
  .pagination > li > a {
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    color: white;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    background-color: #ff471a;
    border-color: #ff471a;
    outline: none;
  }
  .pagination > li > a,
  .pagination > li > span {
    color: #ff471a;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span,
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-radius: unset;
  }
  